<mat-card [ngClass]="{'sm:text-center':!fullWidthMode,
                        'sm:w-full ':fullWidthMode
                        }"
                        >
    <div  class="flex-col sm:flex-row text-center" [ngClass]="{'sm:flex sm:items-center sm:text-center':fullWidthMode}">
        <img class="mb-1 mx-auto h-[100px] w-[100px]" [ngClass]="{'sm:h-[200px] sm:w-[200px]':!fullWidthMode,
                                                'sm:h-[360px] sm:w-[400px]':fullWidthMode}" src="{{product?.image}}">
        <div class="w-full">
            <div>
                <h5 class="mb-1" [ngClass]="{'sm:!text-lg':fullWidthMode}">                    
                    {{product?.category}}
                </h5>
                <p class="mb-1 sm:truncate sm:!text-xl sm:!text-red-600 sm:hover:whitespace-normal" [ngClass]="{'sm:truncate  sm:whitespace-normal sm:max-w-100px':fullWidthMode}">
                    {{product?.title}}
                </p>
                <p *ngIf="fullWidthMode" class="mb-1 !hidden sm:!block" [ngClass]="{'sm:truncate sm:whitespace-normal':fullWidthMode}">
                    {{product?.description}}

                </p>
            </div>
        </div>
        <div class="flex justify-between items-center"
        [ngClass]="{'sm:flex-col sm:p-8':fullWidthMode}">
            <span class="text-red-400" [ngClass]="{'sm:pb-8 sm:text-xl':fullWidthMode}">
                {{product?.price|currency}}
            </span>
            <button (click)="onAddToCart()" mat-icon-button class="bg-green-500">
                <mat-icon class="text-white"  [ngClass]="{'sm:text-xl':fullWidthMode}">
                    add_shopping_cart
                </mat-icon>
            </button>
        </div>
    </div>
</mat-card>